<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessapp_theexhibition">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/no_bear_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/no_bear_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CreateExercisesListActivity"></activity>
        <activity android:name=".activities.IntroTextActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.IntroAnimationActivity" />
        <activity android:name=".activities.WorkoutFinishedActivity" />
        <activity android:name=".activities.WorkoutExecutionActivity" />
        <activity android:name=".activities.details.ExerciseDetailScreen" />
        <activity android:name=".activities.details.WorkoutDetailScreen" />
        <activity android:name=".activities.CreateWorkoutActivity" />
        <activity android:name=".activities.ExercisesListActivity" />
        <activity android:name=".activities.WorkoutListActivity" />
        <activity android:name=".activities.MainMenuActivity" />
    </application>

</manifest>